@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

#process {
    padding-top: 7em;
}

.section-intro {
    max-width: 800px;
    
    h5 {
        padding-bottom: 2em;
    }

    .lead {
        padding-top: 1.5em;
    }

    h1 {
        margin-bottom: 0.5em;
        padding-bottom: 0;
    }

}

#intro {
    background: #14181E url(../images/intro-bg.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
}

.header_hr {
    width: 22em;
    margin-left: auto;
    margin-right: 1em;
    border: solid #ff4594;
    border-width: 6px 0 0;
}

.via_logo {
    img {
        max-width: 23em;
        float: right;
        margin-top: 32%;
        margin-bottom: 1.3em;
    }
}

.panel_left {
    background-color: #282626;
    background-size: cover;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
}

.logo_text {
    .text {
        margin-bottom: 2rem;
        color: white;
    }
    padding-top: 1em;
    line-height: 2em;
    font-size: 20px;
    float: right;
    font-family: sans-serif;
    max-width: 19em;
    text-align: right;
    padding-right: 1em;
    color: black;
}

.btn {
    border: #ff4594 2px solid;
    color: #7b7b7b !important;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.location {
    padding-left: 23px;
    padding-right: 23px;
    font-size: 21px;
    letter-spacing: 2.5px;
    -webkit-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
}

.location-top {
    color: white !important;
}

.location:hover {
    // background-color: #f9d8e6;
    // color: white !important;
    background-color: rgba(255, 241, 247, 0.19);
    color: #fd92bf !important;
}

.spacing {
    height: 1em;
}

.panel_right {
    padding-right: 0px;
    padding-left: 0px;
}

.panels_cont {
    margin: 0;

    width: inherit;
    max-width: none;
    // margin: 0 auto;
}

.section-intro .with-bottom-line::after {
	background-color: #ff4594;
}

.register_form {

    padding-right: 4em;
    padding-left: 4em;

    input {
        width: 100%;
    }

    .form-sub {
        width: 15em;
    }
}

// Location
.map_img {
    margin-top: 1.5em;
    font-size: 2em;
}

.moto-text-btm {
    margin-top: 2em;
}

.details {
    margin-bottom: 4px;
    font-family: lato;
    font-size: 1.2em;

    .bold {
        font-weight: 700;
        margin-right: 11px;
    }
}

.floorplans {
    // display: inline-block;

    .floorplan {
        display: inline-block;
        max-width: 40%;
    }

    .floorplanLeft {
        margin-right: 2em;
    }
}

.floorplan-txt {
    font-family: "merriweather-bold", serif;
    color: black;
    font-size: 1.5em;
    margin-top: 1.1em;
    margin-bottom: 4px;
}

.img_sec {
    margin-bottom: 2em;
}

.vis_div1 {
    background: url(../images/visuals_sec/patio.png) no-repeat center;
    background-size: cover;
    min-height: 13em;
    border-right: white 10px solid;
}
.vis_div2 {
    background: url(../images/visuals_sec/interior1.png) no-repeat center;
    background-size: cover;
    min-height: 13em;
    border-left: white 10px solid;
}
.vis_div3 {
    background: url(../images/visuals_sec/nightview.png) no-repeat center;
    background-size: cover;
    min-height: 13em;
    border-right: white 10px solid;
}
.vis_div4 {
    background: url(../images/visuals_sec/3img.png) no-repeat center;
    background-size: cover;
    min-height: 13em;
    border-left: white 10px solid;
}

.info_start {
    font-family: sans-serif;
}

.vb2_title {
    font-size: 2em !important;
    padding-bottom: 1em;
    font-family: "raleway-bold", sans-serif !important;
}

.deets {
    padding-bottom: 2.8em;

    .details {
        display: inline-block;
    }

    .details-right {
        padding-left: 1em;
    }
}

.vb1_banner {
    text-align: center;
    background: #282626;
    margin-right: 0;
    margin-left: 0;
    max-width: none;
    width: inherit;
    padding-top: 3em;
    padding-bottom: 4em;
    margin-bottom: 4em;
    margin-top: 4.5em;

    h3 {
        color: #f1f1f1;
        font-size: 3rem;
        padding-bottom: 0.5em;
    }

    p {
        color: #f1f1f1;
        margin-bottom: 0;
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 1.1em;
    }
}






@media(max-width: 768px) {
    #intro {
        height: 83%;
        min-height: 255px;
    }

    .panel_left {
        height: 27%;
        min-height: 10px;
    }

    .via_logo img {
        max-width: 20em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .header_hr {
        width: 19em;
    }

    .logo_text {
        padding-top: 0em;
        line-height: 1.4em;
        font-size: 18px;
        padding-bottom: 1.35em;
    }

    .panels_cont {
        padding-left: 0px;
        padding-right: 0;
    }

    #process {
        padding-top: 9rem;
    }
}

@media(max-width: 699px) {
    .panel_left {
        width: 100%;
    }

    .panel_right {
        width: 100%;
    }
}

